.featured_products{
    margin: 65px;
}
.featured_products > h2{
    font-size: 48px;
    text-align: center;
    margin-bottom: 65px;
}
.featured_products_list{
    justify-content: space-evenly;
    margin-bottom: 65px;
}

.loader_center {
  width: 100%;
  height: 50vh; /* or 100vh if you want full page */
  display: flex;
  justify-content: center;
  align-items: center;
}

