.form_page {
    justify-content: center;
}

.form {
    width: 30%;
    padding: 30px 40px;
    margin-top: 30px;
}

.form h2 {
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.inputs div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.inputs label{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}
.input_text{
    height: 35px;
    padding: 0 8px;
    font-size: 17px;
    outline: none;
}
.submit{
    height: 40px;
    width: 100%;
    margin: 25px 0 10px;
}

.error{
    color: red;
}